/*
* @Author: 张驰阳
* @Date:   2017-03-27 13:55:29
* @Last Modified by:   张驰阳
* @Last Modified time: 2017-03-27 14:16:13
*/
body {
    background: #232a33;
}

.wrap {
    width: 100%;
    height: 100%;
    background: #232a33;
}

.logoBox {
    overflow: hidden;
    width: 100%;
    height: 3.73rem;
}

.leaf {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
}

.logo {
    z-index: 1;
    position: relative;
    width: 100%;
    top: 0.63rem;
}

.leaf img {
    width: 100%;
}

.logo img {
    width: 3.3rem;
    margin: 0 auto;
    display: block;
}

.bindBox {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 1px 4px #bfbfbf;
    border-radius: 0.4rem;
    position: relative;
    top: -1.13rem;
    padding-top: 0.46rem;
    padding-bottom: 0.56rem;
    box-sizing: border-box;
}

.bindBox h2 {
    width: 2.17rem;
    line-height: 0.62rem;
    height: 0.62rem;
    margin: 0 auto;
    background: #eee;
    font-size: 0.4rem;
    text-align: center;
    border-radius: 0.1rem;
    font-weight: bold;
}


.inputBox {
    width: 5.45rem;
    margin: 1.2rem  auto 1.5rem;
}

.inputBox .inputBox-1 {
    width: 100%;
    height: .9rem;
    margin-bottom: 0.3rem;
    border: 0.02rem solid #9ccaff;
    border-radius: 0.1rem;
}

.inputBox .iconBox {
    float: left;
    height: .42rem;
    width: 0.4rem;
    position: relative;
    top: 0.2rem;
    text-align: center;
    left: 0.2rem;
}

.inputBox .iconBox img {
    vertical-align: middle;
    width: 100%;
    display: block;
}

.inputBox .inputBox-1 input {
    font-size: .3rem;
    float: right;
    width: 4.66rem;
    height: 0.9rem;
    margin-right: .33em;
    border: none;
    box-sizing: border-box;
    text-indent: .5em;
    color: #000;
    border-radius: 0;
    letter-spacing: 0.05em;
}

.btnBox {
    width: 5.45rem;
    margin: 0 auto;
}

.btn {
    width: 100%;
    height: 0.76rem;
    text-align: center;
    line-height: 0.76rem;
    color: #fff;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
    font-size: 0.3rem;
    box-sizing: border-box;
}

.btn-back {
    box-shadow: 0 0 3px 0px #05abfa;
    background: -webkit-linear-gradient( #05abfa, #0066cc);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( #05abfa, #0066cc);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( #05abfa, #0066cc);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( #05abfa, #0066cc);
    /* 标准的语法（必须放在最后） */
}

.btn-bind {
    box-shadow: 0 0 3px 0px #f14100;
    background: -webkit-linear-gradient( #ff6902, #f14100);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( #ff6902, #f14100);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( #ff6902, #f14100);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( #ff6902, #f14100);
    /* 标准的语法（必须放在最后） */
}