/*
* @Author: 张驰阳
* @Date:   2017-03-23 15:21:18
* @Last Modified by:   张驰阳
* @Last Modified time: 2017-04-05 17:15:42
*/

body {
    background: #232a33;
}

.wrap {
    width: 100%;
    height: 100%;
    background: #232a33;
}

.logoBox {
    overflow: hidden;
    width: 100%;
    height: 3.73rem;
}

.leaf {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
}

.logo {
    z-index: 1;
    position: relative;
    width: 100%;
    top: 0.63rem;
}

.leaf img {
    width: 100%;
}

.logo img {
    width: 3.3rem;
    margin: 0 auto;
    display: block;
}

.registBox {
    position: relative;
    width: 100%;
    background: #fff;
}

.typeBox {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 1px 4px #bfbfbf;
    border-radius: 0.4rem;
    position: relative;
    top: -1.13rem;
    padding-top: 0.46rem;
    padding-bottom: 0.56rem;
    box-sizing: border-box;
}

.typeBox h2 {
    width: 2.17rem;
    line-height: 0.62rem;
    height: 0.62rem;
    margin: 0 auto;
    background: #eee;
    font-size: 0.4rem;
    text-align: center;
    border-radius: 0.1rem;
    font-weight: bold;
}

.choose {
    width: 100%;
    margin-top: 0.52rem;
    overflow: hidden;
}

.choose dl {
    float: left;
    width: 20%;
    text-align: center;
    box-sizing: border-box;
}

.choose dl dt {
    height: 0.6rem;
    font-size: 0.1rem;
}

.choose dl dt img {
    height: 0.45rem;
}

.choose dl dt:after {
    content: "|";
    float: right;
    margin-top: 0.1rem;
    color: #9ccaff;
    font-size: 0.25rem;
}

.choose dl dt.lastchild:after {
    content: none;
}

.choose dd {
    height: 0.5rem;
    font-size: 0.3rem;
    font-weight: bold;
}

.choose dl.choosed dd {
    color: #ff5400;
}

.choose dl.choosed dt img.light {
    display: inline;
}

.choose dl.choosed dt img.dark {
    display: none;
}

.choose dl dt img.light {
    display: none;
}

.choose dl dt img.dark {
    display: inline;
}

.inputBox {
    width: 5.45rem;
    margin: 0 auto;
}

.inputBox .inputBox-1 {
    width: 100%;
    height: .6rem;
    margin-bottom: 0.6rem;
}

.inputBox .iconBox {
    float: left;
    height: .42rem;
    width: 0.4rem;
    position: relative;
    top: 0.1rem;
    text-align: center;
}

.inputBox .iconBox img {
    vertical-align: middle;
    width: 100%;
    display: block;
}

.inputBox .inputBox-1 input {
    font-size: .3rem;
    float: right;
    width: 4.66rem;
    height: 0.6rem;
    margin-right: .33em;
    border: none;
    border-bottom: 0.02rem solid #9ccaff;
    box-sizing: border-box;
    text-indent: 1.5em;
    color: #000;
    border-radius: 0;
    letter-spacing: 0.2em;
}

.data {
    margin-top: 1rem;
}

.data .inputBox-1 input {
    letter-spacing: 0.05em;
}

.inputBox .inputBox-1 input::-webkit-input-placeholder {
    font-size: 0.23rem;
    letter-spacing: 0.1em;
}


/*#name::-webkit-input-placeholder,#cname::-webkit-input-placeholder{
    color: #F44336;
}*/

.btnBox {
    width: 5.45rem;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.complete {
    margin-top: 0;
}

.btn-next,
.btn-complete {
    width: 100%;
    height: 0.76rem;
    text-align: center;
    line-height: 0.76rem;
    color: #fff;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
    font-size: 0.3rem;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0px #05abfa;
    background: -webkit-linear-gradient( #05abfa, #0066cc);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( #05abfa, #0066cc);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( #05abfa, #0066cc);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( #05abfa, #0066cc);
    /* 标准的语法（必须放在最后） */
}

.btn-logout {
    width: 100%;
    height: 0.76rem;
    text-align: center;
    line-height: 0.76rem;
    color: #fff;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
    font-size: 0.3rem;
    box-sizing: border-box;
    background: -webkit-linear-gradient( #b3b3b3, #7d7d7d);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( #b3b3b3, #7d7d7d);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( #b3b3b3, #7d7d7d);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( #b3b3b3, #7d7d7d);
    box-shadow: 0 0 3px 0 #7d7d7d;
    /* 标准的语法（必须放在最后） */
}

.msgBox,
.msgBox2 {
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    color: red;
    font-size: 0.2rem;
    text-align: center;
}

.msgBox {
    margin-top: -0.55rem;
}

.msgBox2 {
    line-height: 1.4rem;
    height: 1.4rem;
}
